[Unit]
Description=Podman odoo.service
Requires=postgres.service
BindsTo=postgres.service
After=postgres.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
ExecStartPre=runagent discover-smarthost
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=90
ExecStartPre=/bin/rm -f %t/odoo.pid %t/odoo.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/odoo.pid \
    --cidfile %t/odoo.ctr-id --cgroups=no-conmon \
    --replace -d --name odoo \
    --hostname odoo \
    --network odoonet \
    --volume odoo-filestore:/var/lib/odoo:Z \
    --volume utils:/utils:Z \
    --volume odoo-extra-addons:/mnt/extra-addons:Z \
    --publish 0.0.0.0:${TCP_PORTS_RANGE}:8069-8071 \
    --env HOST=postgres \
    --env PORT=5432 \
    --env USER=odoodbuser \
    --env POSTGRES_USER=odoodbuser \
    --env PASSWORD=ZhuMeYvgByyf \
    --env POSTGRES_PASSWORD=ZhuMeYvgByyf \
    --env-file=%S/state/smarthost.env \
    --env TRAEFIK_HOST=${TRAEFIK_HOST} \
    ${ODOO_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/odoo.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP odoo
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/odoo.ctr-id
PIDFile=%t/odoo.pid
Type=forking

[Install]
WantedBy=default.target
